body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    color:#707070;
}

.main-header {
    width:100%;
    /* blue #48ACF0 , #9D4782 violet*/
    background-color:#f24075;
    height:3.5rem;
    padding:0 1.5rem;
    
}

.main-header__nav {
    display:flex;
    height:100%;
    align-items:center;
}

.main-header__list-item{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}

.main-header__item{
    padding:0;
    margin:0 1rem;
}

.main-header__item a {
    text-decoration:none;
    color:#ffffff;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    /* color:#074A83; */
    color:#ccc;
}

main {
    padding:1rem;
}

button {
 font:inherit;
 border:0.5px solid #ccc;
 border-radius:3px; 
 color: #707070;
 background:#fff;
 
}

button:active,
button:hover
{
 color: #fff;
 background:#f24075; 
 border:0; 
} 