.form-control {
    margin:1rem 0;
}

.form-control label,
.form-control input {
    display:block;
    width:100%;
}

.form-control input {
    border: 0.5px solid #ccc;
    border-radius: 2px;
    font:inherit;  
}

.form-control input:focus {
    outline-color:#f24075;
}